alter table public.accounts_payable add column if not exists wallet_id uuid references public.wallets(id); alter table public.accounts_receivable add column if not exists wallet_id uuid references public.wallets(id);
