@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";


:root {
  /* Design tokens will go here */
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  @apply bg-background-primary text-text-primary;
  /* subtle grid pattern for modern feel */
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.07) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.07) 1px, transparent 1px);
  background-size: 30px 30px;
  background-position: center top;
}